




<div class="black">
<div class="row">
<div class="col-md-6">
<br>
<div class="thumbnail">
<%= image_tag @listing.image.url %>
<div class="center"><%=link_to like_listing_path(@listing), method: :put, class: "btn btn-default" do %>
	<span class="glyphicon glyphicon-heart"></span>
	Like
	<%= @listing.get_upvotes.size %>
	   <% end %>
	</div>
</br>
</div>
</div>
<div class="col-md-6">
<div class="book-info">

	<h3 class="book-title"><%= @listing.name %></h3>
	<p > <%= number_to_currency(@listing.price,:unit => "USh") %></p>
	<p class="book-desc"> <%= @listing.description %></p>
	<p class="book-author"> <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-phone-alt"></span> Phone
        </button>:<%= @listing.phone %></p>
	<p class="book-desc"> Address:<%= @listing.address %></p>
	<p class="current-category" style="color:blue" >Location: <%=@listing.location.name %> </p>

	<div class="average-review-rating" data-score=<%=  @average_review %>> Average Rating: </div>
    <p class="current-category" style="color:blue" > Views:<%=@listings.impressionist_count%> <p>

   <p lass="current-category" style="color:#333333;">Posted <%=time_ago_in_words(@listings.created_at) %> by  <%= @listings.user.name%></p>


	<%= link_to 'Order Now', new_listing_order_path(@listing), class: "btn btn-primary" %> 


		<%= link_to " Comment", new_listing_review_path(@listing) , class: "btn btn-primary" %>
</div>
</div>
</div>
</div>


<div class="row">
<div class="col-md-4">
<div class="reviews"> 
	<h3 >(<%= @listing.reviews.count %>)Comment</h3>
	<hr>
	<%= render @listing.reviews.limit(7).order("created_at DESC") %> 
	
	
</div>
</div>
</div>
<br>


 <% if current_user == @listing.user %>
	<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> 
	<% end %>

<%= link_to 'Back', listings_path, class: "btn btn-link" %>
<!-- Button trigger modal -->
<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>