<div class="black">
<div class="row">
<div class="col-md-6">
<div class="thumbnail">
<%= image_tag @listing.image.url %>
</div>
</div>
<div class="col-md-6">
<div class="book-info">

	<h3 class="book-title"><%= @listing.name %></h3>
	<p > <%= number_to_currency(@listing.price,:unit => "USh") %></p>
	<p class="book-desc"> <%= @listing.description %></p>
	<p class="book-author"> Call me:<%= @listing.phone %></p>
	<p class="book-desc"> Address:<%= @listing.address %></p>
	<p class="current-category" style="color:blue" >Location: <%=@listing.location.name %> </p>

	<div class="average-review-rating" data-score=<%=  @average_review %>> Average Rating: </div>
    <p class="current-category" style="color:blue" > Views:<%=@listings.impressionist_count%> <p>


	<%= link_to 'Order Now', new_listing_order_path(@listing), class: "btn btn-primary" %> 


		<%= link_to " Add Review", new_listing_review_path(@listing) , class: "btn btn-primary" %>
</div>
</div>
</div>
</div>


<div class="row">
<div class="col-md-4">
<div class="reviews"> 
	<h2 class="center">  Rating and Comment</h2>
	<%= render @listing.reviews.limit(7).order("created_at DESC") %> 
	
	
</div>
</div>
</div>
<br>


 <% if current_user == @listing.user %>
	<%= link_to 'Edit', edit_listing_path(@listing), class: "btn btn-link" %> 
	<% end %>

<%= link_to 'Back', listings_path, class: "btn btn-link" %>
<!-- Button trigger modal -->
<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>