<!DOCTYPE html>
<html>
<head>
  <title>Edeal</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>


<%= render 'layouts/header' %>	



<div class="container">
<% flash.each do |name, msg| %>
	    <% if msg.is_a?(String) %>
	      <div class="alert alert-<%= name == :notice ? "success" : "danger" %> alert-dismissable">
	        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
	        <%= content_tag :div, msg, :id => "flash_#{name}" %>
	      </div>
	    <% end %>
	  <% end %>
  <div class="owl-carousel">
    <div class="item" data-merge="1"><h2><img src="../assets/shoes1.jpeg " alt="all star"></h2></div>
    <div class="item" data-merge="2"><h2><img src="../assets/shoes2.jpeg" alt="all star"></h2></div>
    <div class="item" data-merge="1"><h2><img src="../assets/shoes1.jpeg"></h2></div>
    <div class="item" data-merge="3"><h2><img src="../assets/shoes2.jpeg"></h2></div>
    <div class="item" data-merge="6"><h2>6</h2></div>
    <div class="item" data-merge="2"><h2>7</h2></div>
    <div class="item" data-merge="1"><h2>8</h2></div>
    <div class="item" data-merge="3"><h2>9</h2></div>
    <div class="item"><h2>10</h2></div>
    <div class="item"><h2>11</h2></div>
    <div class="item" data-merge="2"><h2>12</h2></div>
    <div class="item"><h2>13</h2></div>
    <div class="item"><h2>14</h2></div>
    <div class="item"><h2>15</h2></div>
</div>

<%= yield %>


</div>


 
</div>

<br>
<br>
<%= render 'layouts/footer' %>
	
</body>

</html>

<script>
  

$('.owl-carousel').owlCarousel({
    items:5,
    loop:true,
    margin:10,
    merge:true,
    autoPlay:true,
    responsive:{
        678:{
            mergeFit:true
        },
        1000:{
            mergeFit:false
        }
    }
});
</script>
